<div>
    <h1>Sessions</h1>
    <div>
        <ul class="list-group">
            <li ng-repeat="session in sessions.sessions" class="list-group-item" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <a href="http://www.google.com" ng-href="#/sessions/{{session.SessionID}}">
                <h3><div>{{session.Title}}</div></h3>
                <div ng-bind-html="session.Brief_Description  | unsafe"></div>
                </a>
            </li>
        </ul>
    </div>
</div>